# IDE
*.iml
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
!**/.vscode/*
!**/!.vscode/settings.json
!**/!.vscode/tasks.json
!**/!.vscode/launch.json
!**/!.vscode/extensions.json
!**/!.vscode/mcp.json
!**/.history/*

# macOS
.DS_Store

# Windows
Thumbs.db

#Backend
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/PPeCommBackend/env.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Frontend
# Compiled output
/PPeCommFrontend/dist
/PPeCommFrontend/tmp
/PPeCommFrontend/out-tsc
/PPeCommFrontend/bazel-out

# Node
/PPeCommFrontend/node_modules
/PPeCommFrontend/npm-debug.log
/PPeCommFrontend/yarn-error.log

# Miscellaneous
/PPeCommFrontend/.angular/cache
/PPeCommFrontend/.sass-cache/
/PPeCommFrontend/connect.lock
/PPeCommFrontend/coverage
/PPeCommFrontend/libpeerconnection.log
/PPeCommFrontend/testem.log
/PPeCommFrontend/typings
/PPeCommFrontend/__screenshots__/
/PPeCommFrontend/.editorconfig
/PPeCommFrontend/.prettierrc

/temp-create-db.sql
/temp-update-and-fill-db.sql
