<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>{{ currentCategoryName }}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
        @for (product of products(); track $index) {
          <div class="col-md-3 product-box">
            <img [src]="product.imageUrl" class="img-responsive"/>
            <h1>{{ product.name }}</h1>
            <div class="price">{{ product.price | currency:"EUR" }}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        }
      </div>
    </div>
  </div>
</div>
